<% provide(:title, "Accedi") %>
<h1>Accedi</h1>

<div class="row">
  <div class="span6 offset3 signin">
    <%= form_for(:session, url: sessions_path) do |f| %>
    <div> 
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
      <%= f.submit "Accedi", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Nuovo utente? <%= link_to "Registrati ora!", registrati_path %></p>
  </div>
</div>
